.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #34ace0;
    &__container {
        width: 100rem;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo-container {
        height: 100%;
        width: 70px;
        padding: 1rem;
    }
    &__logo {
        font-size: 5rem;
    }
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .option {
            padding: 10px 15px;
        }
    }
    a,
    a:visited {
        color: #f7f1e3;
        font-weight: 500;
        transition: all .2s;
    }
    a:hover {
        color: white;
    }
}